$darkerbg: #002b36;
$darkbg: #073642;
$darkertext: #586e75;
$darktext: #657b83;
$lighttext: #839496;
$lightertext: #93a1a1;
$lightbg: #eee8d5;
$lighterbg: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

