@import "colors";


/* if in a list, one line, no description. */
.book-list {
  .title {
    display: inline;
  }
  .author {
    display: inline;
  }
  .description {
    display: none;
  }
}

.book {
  padding-bottom: 10px;
  .title { 
    color: $magenta;
    font-size: 1.4em;
  }
  .description {
    clear: left;
  }
}
