@import "colors";

body {
  background-color: $darkbg;
  color: $darktext;
  margin: 0;
  padding: 0;
  min-height: 100%;
}


.content {
    background-color: $darkerbg;
    margin: 0 auto;
    padding: 5px;
    width: 960px;
    min-height: 100%;
}

.fancy {
  color: $violet;
}



a {
  color: $yellow;
  text-decoration: none;
}

table {
  padding-right: 10px;
}

table th {
  text-align: left;
}

.header {
  height: 20px;
  padding: 8px 0;
  border-bottom: 1px solid $lightertext;
}
.header .title {
  float: left;
  width: 300px;
}

.header .navigation {
  float: right;
}
.navigation ul, .navitagion ul li {
  display: inline;
  list-style-type: none;
}
